<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dogs</title>
</head>
<body>
    <div class="container">
        <h1>Doggos</h1>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/dogs.jpg" class="d-block w-100" alt="doggos">
                </div>
                <div class="carousel-item">
                    <img src="/images/gage2.jpg" class="d-block w-100" alt="dog">
                </div>
                <div class="carousel-item">
                    <img src="/images/mika.jpg" class="d-block w-100" alt="doggo">
                </div>
            </div>
        </div>
    </div>
</body>
</html>