<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Form</title>
</head>
<body class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Your First Name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <div class="form-group">
                <label for="exampleFormControlInput1">Your Last Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Car Make</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Toyota</option>
            <option>Honda</option>
            <option>Mercedes</option>
            <option>BMW</option>
            <option>Lexus</option>
            <option>Kia</option>
            <option>Mazda</option>
            <option>Subaru</option>
            <option>Nissan</option>
            <option>GMC</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Model</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>Highlander</option>
            <option>CRV</option>
            <option>Benz A-Class</option>
            <option>i8</option>
            <option>NX</option>
            <option>Telluride</option>
            <option>CX-5</option>
            <option>Crosstrek</option>
            <option>Rogue</option>
            <option>Terrain</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Interior</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Leather</option>
            <option>Nylon Upholstery</option>
            <option>Polyster Upholstery</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Exterior</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>Ingot Silver</option>
            <option>Lightning Blue</option>
            <option>Ruby Red</option>
            <option>Magnetic</option>
            <option>Oxford White</option>
            <option>Baltic Sea Green</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Transmission</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>Manual</option>
            <option>Automatic</option>
            </select>
        </div>
    </form>
</body>
</html>